# Keycloak Database
KC_DB_URL=jdbc:postgresql://<HOST>:<PORT>/<DATABASE>
KC_DB_USERNAME=<USERNAME>
KC_DB_PASSWORD=<PASSWORD>

# Keycloak Admin
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=<ADMIN_PASSWORD>

# Keycloak Hostname (your Fly.io app URL)
KC_HOSTNAME=https://identity-and-access-management.fly.dev
KC_PROXY_HEADERS=xforwarded
